:root
{
    --black:#000000;
    --background:#F7F7F7;
    --yellow: #FFC570;
    --white: #FFFFFF;
    --brown:#854836;
}

html
{
     width: 100%;
    height: 100%;
}

*
{
    margin: 0%;
}

a
{
    text-decoration: none;
}

body
{
    margin: 0%;
    padding: 0%;
    
    /*Items behave and alignment*/
    background-color: var(--background);
}

a:active
{
    color: var(--brown);
}

h1
{

}

/*Header syle*/
header
{
    /*behave and position*/
    position: absolute;
    font-family: "Playfair Display", serif;
    z-index: 10;
    margin-top: 0;
    padding: 0%; 

    
    /*size*/
    width: 100%;
    height: 80px;

    /*Styling*/
    color: var(--black);
}

.navBar
{
    /*behave and position*/
    display: flex;

    /*size*/
    width: 100%;
    height: 50px;
    
    /*Items behave*/
    justify-content: space-around;
    align-items: center;
    z-index: 10;

    
}

.navBar h1 
{
    font-family: "Lora", serif;
    font-style: bold;
}

.navBar a
{
    font-family: "Libre Baskerville", serif;
    color: var(--black);
     /*Styling*/
    font-size: clamp(1rem, 2vw, 1.2rem);
}

.navItems
{
    display: flex;
    align-content: end;
    justify-content: space-evenly;
    gap: 10%;
    width: 35%;
    
    
}
.navItems a:hover
{
    font-size: 180%;
    transition-delay: 100ms;
}


/*Body Home*/

.yellowBack
{
    display: flex;
    justify-content: end;
    position: absolute;
    width: 100%;
}
.yellowBack img
{
    position: absolute;
    width: 55%;
}

.main-home-div
{
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-top: 10%;
    padding-left: 3%;
    width: 40%;
    height: 100px;
}

.main-home-div h1
{
    font-size: clamp(1rem, 4vw, 4rem);
    font-family: "Lobster", sans-serif;
}

.main-home-div pre
{
    margin-top: 5%;
    font-size: clamp(20px, 2.5vw, 4rem);
    font-family: "Libre Baskerville", serif;
}


/*Body About*/

.mainDivConfig
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.bigImgAbout
{
    display: flex;
    padding-top: 5%;
    width: 90%;
    flex-direction: row;
}

.bigImgAbout img
{
    width: 50%;
}

.textBoxImgAbout
{
    margin-left: 1%;
}


.layoutStandardInfo
{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.layoutStandardInfo div
{
    display: flex;
    flex-direction: row;
}

.subDivImg
{
    f
}


/*footer*/

.socialMedias
{
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 20%;
    justify-content: space-between;
}

.instaLogo
{
    width: 50px;
}

.linkedinLogo
{
    width: 60px;
}

.emailLogo
{
    width: 50px;
    margin-left: 4%;
}
#footer
{
    margin-left: 50%;
    margin-top: 28%;
}
#footer P
{
    margin-left: 0%;
}

a:hover .instaLogo
{
    width: 55px;
}

a:hover .linkedinLogo
{
    width: 65px;
}
a:hover .emailLogo
{
    width: 60px;
}